# Introducción a Python - Estructuras de datos

En este apartado vamos a revisar las estructuras de datos (colecciones) básicas de Python, sus propiedades y las operaciones básicas que se pueden realizar con y sobre ellos. En concreto, en Python tenemos tres estructuras básicas de datos.

<ul>
<li>Secuencias</li>
<li>Diccionarios</li>
<li>Conjuntos</li>
</ul>

### Secuencias

Una secuencia es un listado unidimensional y ordenado de valores que pueden ser de cualquier tipo, incluso otras estructuras de datos anidadas. Existen tres tipos bien diferenciados

<ul>
<li>Tuplas: listados inmutables.</li>
<li>Listas: listados mutables.</li>
<li>Cadenas de caracteres: inmutables y cuyos elementos son siempre caracteres.</li>
</ul>

Casi todas las operaciones disponibles se pueden aplicar sobre cualquier tipo de secuencia (excepto las que implican modificación que, lógicamente, sólo se pueden aplicar sobre listas).

##### <b>Creación de secuencias</b>

In [1]:
tuple_1 = (1,2,3,4)
list_1 = [1,2,3,4]
str_1 = "esto es una cadena"

###### <b>Conversión/casting entre tipos de secuencia</b>

In [2]:
tuple_2 = tuple(list_1)     # convertir de lista a tupla
list_2  = list(tuple_1)     # convertir de tupla a lista
tuple_3 = tuple(str_1)      # convetir de cadena a tupla
list_3  = list(str_1)       # convertir de cadena a lista

print("tuple_2 =", tuple_2, type(tuple_2), "\n")
print("list_2 =" , list_2 , type(list_2) , "\n")
print("tuple_3 =", tuple_3, type(tuple_3), "\n")
print("list_3 =" , list_3 , type(list_3) , "\n")

tuple_2 = (1, 2, 3, 4) <class 'tuple'>

list_2 = [1, 2, 3, 4] <class 'list'>

tuple_3 = ('e', 's', 't', 'o', ' ', 'e', 's', ' ', 'u', 'n', 'a', ' ', 'c', 'a', 'd', 'e', 'n', 'a') <class 'tuple'>

list_3 = ['e', 's', 't', 'o', ' ', 'e', 's', ' ', 'u', 'n', 'a', ' ', 'c', 'a', 'd', 'e', 'n', 'a'] <class 'list'>

In [3]:
tupla  = (1, "hola", False, 6.3)
lista  = [1, "hola", False, 6.3]
string = "esto es una cadena"
entero = 12

print(tupla, lista, string, "\n")

tupla2 = tuple(lista)         # lista a tupla
lista2 = list(tupla)          # tupla a lista
tupla3 = tuple(string)        # cadena a tupla
#tupla_entero = tuple(entero) # 'int' object is not iterable

print("tupla2 =", tupla2, type(tupla2), "\n")
print("lista2 =", lista2, type(lista2), "\n")
print("tupla3 =", tupla3, type(tupla3), "\n")

(1, 'hola', False, 6.3) [1, 'hola', False, 6.3] esto es una cadena

tupla2 = (1, 'hola', False, 6.3) <class 'tuple'>

lista2 = [1, 'hola', False, 6.3] <class 'list'>

tupla3 = ('e', 's', 't', 'o', ' ', 'e', 's', ' ', 'u', 'n', 'a', ' ', 'c', 'a', 'd', 'e', 'n', 'a') <class 'tuple'>

###### Creación de secuencias anidadas

In [4]:
tupla_1 = (1,2,(3,4),[1,2,3])
list_1 = [1,2,3, [4,5], "prueba", (1,2,3)]

print("tupla_1 =", tupla_1, type(tupla_1), "\n")
print("list_1 =" , list_1 , type(list_1) , "\n" )

tupla_1 = (1, 2, (3, 4), [1, 2, 3]) <class 'tuple'>

list_1 = [1, 2, 3, [4, 5], 'prueba', (1, 2, 3)] <class 'list'>

###### Concatenación de secuencias

In [5]:
tuple_1 = (1,2,3,4)
list_1  = [1,2,3,4]
str_1   = "esto es una cadena"

tuple_2 = (5,6,7,8)
list_2  = [5,6,7,8]
str_2   = " esto es otra cadena"

tuple_3 = tupla_1 + tuple_2
list_3  = list_1  + list_2
str_3   = str_1   + str_2

print("tuple_3 =", tuple_3, type(tuple_3), "\n")
print("list_3 =" , list_3 , type(list_3) , "\n")
print("str_3 ="  , str_3  , type(str_3)  , "\n")

tuple_3 = (1, 2, (3, 4), [1, 2, 3], 5, 6, 7, 8) <class 'tuple'>

list_3 = [1, 2, 3, 4, 5, 6, 7, 8] <class 'list'>

str_3 = esto es una cadena esto es otra cadena <class 'str'>

In [6]:
# tupla texto
tuple_1 = ("hola", "mundo")
tuple_2 = tuple_1 * 3
print("tuple_2 =", tuple_2)

# lista texto
list_1 = ["hola", "mundo"]
list_2 = list_1 * 2
print("list_2 =", list_2)

# lista enteros
list_1 = [1,2,3]
list_2 = list_1 * 2
print("list_2 =", list_2)

# cadenas
str_1 = "prueba "
str_2 = str_1 * 3
print("str_2 =", str_2)

tuple_2 = ('hola', 'mundo', 'hola', 'mundo', 'hola', 'mundo')
list_2 = ['hola', 'mundo', 'hola', 'mundo']
list_2 = [1, 2, 3, 1, 2, 3]
str_2 = prueba prueba prueba

##### Comprobación de si un elemento existe en la secuencia

In [7]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

is_4_in_tuple_1     = 4 in tuple_1
is_not_5_in_tuple_1 = 5 not in tuple_1
is_not_4_in_list_1  = 4 not in list_1
is_5_in_list_1      = 5 in list_1 
is_e_in_str_1       = "e" in str_1
is_not_z_in_str_1   = "z" not in str_1


print("is_4_in_tuple_1 ="    , is_4_in_tuple_1    , "\n")
print("is_not_5_in_tuple_1 =", is_not_5_in_tuple_1, "\n")
print("is_not_4_in_list_1 =" , is_not_4_in_list_1 , "\n")
print("is_5_in_list_1 ="     , is_5_in_list_1     , "\n")
print("is_e_in_str_1 ="      , is_e_in_str_1      , "\n")
print("is_not_z_in_str_1"    , is_not_z_in_str_1  , "\n")

is_4_in_tuple_1 = True

is_not_5_in_tuple_1 = True

is_not_4_in_list_1 = False

is_5_in_list_1 = False

is_e_in_str_1 = True

is_not_z_in_str_1 True

##### Acceso a un elemento de la secuencia por posición (índice positivo)

In [8]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print(tuple_1[0])
print(list_1[3])
print(str_1[5])

1
4
e

##### Acceso a un elemento de la secuencia por posición (índice negativo)

In [9]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print(tuple_1[-4])
print(list_1[-3])
print(str_1[-5])

1
2
a

##### Slicing de secuencias

<ul>
<li>Selección (mediante copia, no referencia) de un conjunto ordenado de elementos de una secuencia.</li>
<li>Se realiza mediante la notación secuencia[a:b:c]. Donde:
<ul>
<li>a: Índice del primer elemento a extrar (en base 0). Si se omite se extrae desde el principio de la secuencia.</li>
<li>b: Índice del primero elemento que NO se extrae (en base 0). Si se omite se extrae hasta el final de la secuencia.</li>
<li>c: Tamaño del salto a aplicar en la extracción. Si se omite se asume 1.
</ul>
</ul>

In [10]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print(tuple_1[:])
print(tuple_1[2:])
print(list_1[:3])
print(list_1[2:3])
print(str_1[:-3])
print(str_1[::-1])
print(list_1[::-1])

(1, 2, 3, 4)
(3, 4)
[1, 2, 3]
[3]
esto es una cad
anedac anu se otse
[4, 3, 2, 1]

In [11]:
list_2 = list_1[:3]
print(list_2)

list_2[0] = 25
print(list_2)

list_2[1] = [2,3]
print(list_2)

[1, 2, 3]
[25, 2, 3]
[25, [2, 3], 3]

##### Longitud de secuencias

In [12]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print(len(tuple_1))
print(len(list_1))
print(len(str_1))

4
4
18

##### Obtención del primer índice de un elemento

In [13]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print(tuple_1.index(3))
print(list_1.index(4))
print(str_1.index("t"))

2
3
2

##### Obtención del número de repeticiones de un elemento

In [14]:
tuple_1 = (1, 2, 3, 4)
list_1 = [1, 2, 3, 4]
str_1 = "esto es una cadena"

print(tuple_1.count(1))
print(list_1.count(3))
print(str_1.count("e"))

1
1
3

##### Extracción de elementos a variables

In [15]:
tuple_1 = (1,2,3,4)
list_1 = [1,2,3,4]

var_1, var_2, var_3, var_4 = tuple_1
print(tuple_1, var_1, var_2, var_3, var_4)

var_1, var_2, var_3, var_4 = list_1
print(list_1, var_1, var_2, var_3, var_4)

(1, 2, 3, 4) 1 2 3 4
[1, 2, 3, 4] 1 2 3 4

##### Mezcla ordenada de secuencias

In [16]:
# Example 1
tuple_1 = (1, 2, 3, 4, 5)
list_1 = ["uno", "dos", "tres", "cuatro", "cinco"]
print(*zip(tuple_1, list_1))

print("-------")
# Example 2: Different number of iterable elements
numbersList = [1, 2, 3]
str_list = ['one', 'two']
numbers_tuple = ('ONE', 'TWO', 'THREE', 'FOUR')

result = zip(numbersList, numbers_tuple) # the size is different
print(list(result)) # Converting to list

result = zip(numbersList, str_list, numbers_tuple)
print(set(result)) # Converting to set

(1, 'uno') (2, 'dos') (3, 'tres') (4, 'cuatro') (5, 'cinco')
-------
[(1, 'ONE'), (2, 'TWO'), (3, 'THREE')]
{(1, 'one', 'ONE'), (2, 'two', 'TWO')}

##### Creación de secuencias numéricas

In [17]:
list_1 = list(range(10))
print(list_1)

list_2 = list(range(5,10))
print(list_2)

list_3 = tuple(range(0,100,2))
print(list_3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

###### Adición de elementos a una lista (por el final) - SÓLO LISTAS

In [18]:
list_1 = ["uno", "dos"]
list_1.append("tres")
print(list_1)

list_1.append(["tres","cuatro"])
print(list_1)

# 'tuple' object has no attribute 'append'
# 'str' object has no attribute 'append'

['uno', 'dos', 'tres']
['uno', 'dos', 'tres', ['tres', 'cuatro']]

###### Inserción un elemento en una posición específica - SÓLO LISTAS

In [19]:
list_1 = ["dos", "tres"]
list_1.insert(0,"uno")
print(list_1)

list_1.insert(2, "hello")
print(list_1)

list_1.remove("tres")
print(list_1)

['uno', 'dos', 'tres']
['uno', 'dos', 'hello', 'tres']
['uno', 'dos', 'hello']

##### Asignación de valor a un slice - SÓLO LISTAS

In [20]:
list_1 = [1,2,3,4,5]
list_1[2:4] = [5,6] 
print(list_1)

list_1[2:5] = [3,4]
print(list_1)

list_1[2:3] = [7,8,9,10]
print(list_1)

[1, 2, 5, 6, 5]
[1, 2, 3, 4]
[1, 2, 7, 8, 9, 10, 4]

###### Recuperación y eliminación de un elemento en una posición específica - SÓLO LISTAS

In [21]:
list_1 = [1, 2, 3, 4, 5]
list_pop = list_1.pop(3)
print(list_pop)
print(list_1)

list_1 = [1, 2, 3, 4, 5]
del(list_1[0])
print(list_1)

4
[1, 2, 3, 5]
[2, 3, 4, 5]

###### Eliminación del primer elemento coincidente (no anidado) - SÓLO LISTAS

In [22]:
list_1 = [1, 2, 3, [4, 5]]
list_1.remove([4,5])
print(list_1)

list_1 = [1, 2, 3, [4, 5]]
list_1.remove(2)
print(list_1)

[1, 2, 3]
[1, 3, [4, 5]]

##### Ordenación de elementos - SÓLO LISTAS

In [23]:
list_1 = [1, 3, 4, 2, 5]
list_1.sort()
print(list_1)

list_1.sort(reverse=True)
print(list_1)

list_1 = ["azul","rojo","verde","lila","amarillo","violeta"]
list_1.sort()
print(list_1)
list_1.sort(reverse=True)
print(list_1)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
['amarillo', 'azul', 'lila', 'rojo', 'verde', 'violeta']
['violeta', 'verde', 'rojo', 'lila', 'azul', 'amarillo']

##### Recuperación inversa de elementos - SÓLO LISTAS

In [24]:
list_1 = [1, 3, 4, 2, 5]
list_1.reverse()
print(list_1)

[5, 2, 4, 3, 1]

##### Conversión a mayúsculas/minúsculas - SÓLO CADENAS

In [25]:
str_1 = "esto es una prueba"
str_1 = str_1.upper()
print(str_1)

str_2 = "ESTO ES UNA PRUEBA"
str_2 = str_2.lower()
print(str_2)

ESTO ES UNA PRUEBA
esto es una prueba

##### Segmentación por carácter - SÓLO CADENAS

In [26]:
str_1 = "esto es una prueba"
str_split = str_1.split()
print(str_1)
print(str_split)

esto es una prueba
['esto', 'es', 'una', 'prueba']

##### Reemplazo en cadenas - SÓLO CADENAS

In [27]:
# string.replace(old,new,count) 
# old − This is the old substring to be replaced.
# new − This is the new substring, which would replace the old substring.
# count − If this optional argument count is given, only the first count occurrences are replaced.

str_1 = "esto es una prueba una"
str_rep_1 = str_1.replace("una", "otra")
str_rep_2 = str_1.replace("una", "otra", 1) 

print(str_1)
print(str_rep_1)
print(str_rep_2)

esto es una prueba una
esto es otra prueba otra
esto es otra prueba una

### Diccionarios (dict)

Un diccionario es una estructura que:
<ul>
<li>Contiene un listado de pares clave-valor.</li>
<li>También se puede llamar array asociativo o <i>hash map</i>.</li>
<li>Sin orden</li>
<li>Cuyas claves son cadenas de caracteres o valores numéricos.</li>
<li>Cuyos valores son valores o secuencias (anidadas).</li>
</ul>

##### Creación de un diccionario

In [28]:
dict_1 = {"clave_1": 1, "clave_2": "prueba", "clave_3":{"clave_3_1":"hello", "clave_3_2":"world"}}
print(dict_1)

dict_2 = {10:1, 2:2}
print(dict_2)

{'clave_1': 1, 'clave_2': 'prueba', 'clave_3': {'clave_3_1': 'hello', 'clave_3_2': 'world'}}
{10: 1, 2: 2}

##### Creación de diccionarios anidados

In [29]:
dict_1 = {"clave_1": 1, "clave_2": {"clave_2_1": [1,2,3], "clave_2_2": "prueba"}}
print(dict_1)

dict_2 = {"clave_1": 1, "clave_2": {"clave_2_1": (1,2,3), "clave_2_2": "prueba"}}
print(dict_2)

{'clave_1': 1, 'clave_2': {'clave_2_1': [1, 2, 3], 'clave_2_2': 'prueba'}}
{'clave_1': 1, 'clave_2': {'clave_2_1': (1, 2, 3), 'clave_2_2': 'prueba'}}

##### Creación de diccionarios desde tuplas clave-valor

In [30]:
tuple_1 = (1,2,3,4,5)
list_1 = ["uno", "dos", "tres", "cuatro"]

dict_1 = dict(zip(list_1,tuple_1)) # list_1=clave, tuple_1=valor
print(dict_1)

dict_2 = dict(zip(tuple_1,list_1)) # tuple_1=clave, list_1=valor
print(dict_2)

{'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}
{1: 'uno', 2: 'dos', 3: 'tres', 4: 'cuatro'}

##### Unión de dos diccionarios

In [31]:
dict_1 = {"clave_1": 1, "clave_2": 2}
dict_2 = {"clave_3": 3, "clave_4": 4}
dict_3 = {"clave_3": 33, "clave_4": 44}

dict_1.update(dict_2) # add dict_2 to dict_1 
print(dict_1)

dict_1.update(dict_3) # modify equal kyes
print(dict_1)

print(*zip(dict_1.values(),dict_2.values()))
print(list(zip(dict_1.values(),dict_2.values())))
print(dict(zip(dict_1.values(),dict_2.values())))

print(*zip(dict_1.keys(),dict_2.keys()))

{'clave_1': 1, 'clave_2': 2, 'clave_3': 3, 'clave_4': 4}
{'clave_1': 1, 'clave_2': 2, 'clave_3': 33, 'clave_4': 44}
(1, 3) (2, 4)
[(1, 3), (2, 4)]
{1: 3, 2: 4}
('clave_1', 'clave_3') ('clave_2', 'clave_4')

##### Inserción (o modificación) de un elemento del diccionario por clave

In [32]:
dict_1 = {"clave_1": 1, "clave_2": 2}
dict_1["clave_3"] = "prueba"
dict_1["clave_1"] = 50
print(dict_1)

{'clave_1': 50, 'clave_2': 2, 'clave_3': 'prueba'}

##### Recuperación y eliminación de un elemento de una clave específica

In [33]:
dict_1 = {"clave_1": 1, "clave_2": "prueba", "clave_3": 3}
dict_pop = dict_1.pop("clave_2")

print(dict_pop, type(dict_pop))
print(dict_1)

prueba <class 'str'>
{'clave_1': 1, 'clave_3': 3}

##### Comprobación de si un elemento existe en el diccionario

In [34]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}

print("clave_1" in dict_1) # por clave
print("clave_1" in dict_1.keys()) # por clave idem linea anterior
print(1 in dict_1) # ninguna clave con valor 1

print(1 in dict_1.values()) # por valor

True
True
False
True

##### Eliminación de un elemento de un diccionario

In [35]:
dict_1 = {"clave_1": 1, "clave_2": "prueba"}
del(dict_1["clave_1"])
print(dict_1)

{'clave_2': 'prueba'}

##### Eliminación de todos los elementos de un diccionario

In [36]:
dict_1 = {"clave_1": 1, "clave_2": 2}
dict_1.clear()
print(dict_1)

{}

##### Acceso a un elemento por clave

In [37]:
dict_1 = {"clave_1": 1, "clave_2": 2}
print(dict_1["clave_1"])

1

##### Recuperación de elementos como una lista

In [38]:
dict_1 = {"clave_1": 1, "clave_2": 2, "clave_3": 3}
print(dict_1.items())

dict_items([('clave_1', 1), ('clave_2', 2), ('clave_3', 3)])

##### Recuperación de claves y valores como una lista

In [39]:
dict_1 = {"clave_1": 1, "clave_2": 2, "clave_3": 3}
print(dict_1.keys())
print(dict_1.values())

dict_keys(['clave_1', 'clave_2', 'clave_3'])
dict_values([1, 2, 3])

### Conjuntos (set)

Un conjunto es una secuencia:
<ul>
<li>Unidimensional (de un único nivel)</li>
<li>Mutable</li>
<li>De tamaño variable (al ser mutable es obvio)</li>
<li>Desordenada</li>
<li>Cuyos elementos son valores o secuencias</li>
<li>Cuyos elementos son únicos</li>
</ul>

##### Cración de un conjunto

In [40]:
set_1 = {1,2,3,4,5}
print(set_1, type(set_1))

set_1 = {1, 2, 1, 4, 1} # observar que los valores repetidos se eliminan
print(set_1)

set_1 = {"abc", 34, True, 40, "male"}
print(set_1) # lo desordena

{1, 2, 3, 4, 5} <class 'set'>
{1, 2, 4}
{True, 34, 40, 'abc', 'male'}

##### Conversión/casting a conjunto

In [41]:
list_1 = [1,2,3,4,5]
set_1 = set(list_1)
print(set_1, type(set_1))

{1, 2, 3, 4, 5} <class 'set'>

##### Unión de conjuntos

In [42]:
set_1 = {1,2,3,4,5}
set_2 = {3,4,5,6}
print(set_1 | set_2) # no se repiten sus valores

{1, 2, 3, 4, 5, 6}

##### Intersección de conjuntos

In [43]:
set_1 = {1,2,3,4,5}
set_2 = {3,4,5,6,7}
set_3 = set_1 & set_2
print(set_3)

{3, 4, 5}

##### Diferencia de conjuntos

In [44]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}

print(set_1-set_2) # elementos en el primer set que no están en el segundo
print(set_2-set_1) # elementos en el segundo set que no están en el primero

{1, 2}
{6, 7}

##### Diferencia simétrica de conjuntos

In [45]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}

print(set_1 ^ set_2) # todos los elementos diferentes entre ambos sets
print(set_2 ^ set_1) # mismo resultado obvio

{1, 2, 6, 7}
{1, 2, 6, 7}

##### Inserción de elementos en un conjunto

In [46]:
set_1 = {1, 2, 3, 4, 5}
set_1.add(6)
print(set_1)

{1, 2, 3, 4, 5, 6}

##### Comprobación de existencia de un elemento en el conjunto

In [47]:
set_1 = {1, 2, 3, 4, 5}
print(3 in set_1)
print(6 in set_1)

True
False

##### Comprobación de subconjunto

In [48]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}
print(set_1 >= set_2) # set_1 contiene a set_2  =>  set_2 es un subconjunto de set_1

set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 6}
print(set_1 >= set_2) # set_1 no contiene a set_2, se observa un elemento diferente

True
False

##### Comprobación de superconjunto

In [49]:
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}

print(set_2 <= set_1) # set_1 es un superconjunto de set_2

True

##### Eliminación de un elemento de un conjunto por valor

In [50]:
set_1 = {1, 2, 3, 4, 5}

set_1.remove(5)  
print(set_1)

set_1.discard(3) 
print(set_1)

set_1.discard(7) # If the element is not present no error or exception is raised and stays the original set
print(set_1)

{1, 2, 3, 4}
{1, 2, 4}
{1, 2, 4}

##### Eliminación de todos los elementos de un conjunto

In [51]:
set_1 = {1,2,3,4,5,6}
set_1.clear()
set_1

set()

## Python Names/Variables and Values

https://www.youtube.com/watch?v=_AEJHKGk9ns

In [52]:
# Names refer to values
x = 23 # "x" points to value 23

# Many names can refer to one value
y = x  # "y" points also to value 23

# Names can be assing independently
x = 12 # "x" does not point to 23 anymore, now it's pointing to 12. But "y" is still 23 
print(x, y)

12 23

#### Assingement never copies data!!!!!

In [53]:
nums = [1,2,3]    # "nums" is pointed to a value list
other = nums      # "other" is pointed to the same value of list

nums.append(4)    # if list is change by one "nums" it'll be changed in "other"
print(other)

nums.append(5)    # and viceversa
print(nums)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

#### Immutable values: 

- Inmutable types: ints, floats, strings, tuples
- Values that cannot be change in place.
- No method on them can chage their value.

In [54]:
x = "hello"      # "x" points to value "hello"
y = x            # "y" points to the same value "hello"
x = x + " there" # "x" now points to another value: "hello there"

print(x)
print(y)

hello there
hello

In [55]:
# inmutable
x = 5                 # "x" points to value 1
x = x + 1             # changing an int => REBINDING => makes a new int 
nums.append(7)        # changing a list => MUTATING  => modifie the list, does not make a new one

# mutable
nums = [1,2,3]        # "x" points to list
nums_2 = nums + [10]  # rebinding lists => creating a brand new list 
print(nums, nums_2)   # nums and nums_2 points to a differente lists

nums[0]=12            # testing
print(nums, nums_2)   # changing some element in nums does not change nums_2

[1, 2, 3] [1, 2, 3, 10]
[12, 2, 3] [1, 2, 3, 10]

In [56]:
# Inmutable variables
x,y = 5,1    # assingment
x += y       # conceptually is the same as x=x+y            

# Mutable variables. These is the same
nums = [1,2,3]     # assingment
nums += [4,5]      # is the same as nums=nums+[4,5]
print(nums)

[1, 2, 3, 4, 5]

#### Example reasignation and mutation ON LISTS

In [57]:
nums = [1,2,3]               # "nums" is pointed to a value list
other = nums                 # "other" is pointed to de same value list that "nums"

nums_2 = nums + [8,9]        # reasignation
nums += [10,11]              # mutation

print("nums_2", nums_2)
print("nums  ", nums)     
print("other ", other, "\n") # "other still has the same value than "nums"   


nums = nums + [3]            # reasignation using the same variable/name
print("nums  ", nums)
print("other ", other)       # now "other" does not have the same value that "nums"

nums_2 [1, 2, 3, 8, 9]
nums   [1, 2, 3, 10, 11]
other  [1, 2, 3, 10, 11]

nums   [1, 2, 3, 10, 11, 3]
other  [1, 2, 3, 10, 11]

#### Reference can be more than just names

In [58]:
nums = [1,2,3]         # "nums" is pointed to a value list. Each element poits to some values
x = nums[1]            # "x" is pointed to the same value "nums"'s list in position "1" is pointed

nums[1] = 10           # position "1" in "nums" now is reasign to a value 10
print(nums)            # "nums" changes
print(x)               # but "x" does not.

[1, 10, 3]
2