# Operaciones básicas

Trataremos aquí las operaciones más básicas que se pueden realizar sobre las estructuras de datos de pandas. Se separan en un notebook aparte porque estas operaciones tienen un funcionamiento prácticamente idéntico en Series y DataFrames. En caso de que esto no sea así en algún caso concreto se indicará explícitamente.

In [1]:
import numpy as np
import pandas as pd

## Tratamiento de Series y DataFrames como diccionarios

Dado que internamente tanto las Series como los DataFrames pueden verse como diccionarios, podemos apilcar sobre los mismos cualquier funcionalidad que aplicaríamos sobre diccionarios básicos del core de Python.<br/>
<b>IMPORTANTE:</b> Hay que tener en cuenta que en DataFrames el diccionario es un diccionario de "columnas".

In [2]:
serie = pd.Series([1,2,3,4], index=['a','b','c','d'])

dataframe = pd.DataFrame({'var1':serie,'var2':serie})

print('datos')
print(serie,'\n')
print(dataframe)

datos
a    1
b    2
c    3
d    4
dtype: int64

   var1  var2
a     1     1
b     2     2
c     3     3
d     4     4

#### Indexación por clave

In [3]:
print("Indexación por clave")
print(serie['a'],'\n')
print(dataframe['var2'])

Indexación por clave
1

a    1
b    2
c    3
d    4
Name: var2, dtype: int64

#### Comprobación de la existencia de una clave

In [4]:
print("Comprobación de la existencia de una clave")
print('b' in serie, '\n')
print('b' in dataframe, '\n')
print('var1' in serie, '\n')

Comprobación de la existencia de una clave
True

False

False

#### Adición de elementos

<b>IMPORTANTE:</b> Al añadir columnas a un DataFrame, el tamaño del vector añadido deberá coincidir con el del DataFrame original. En caso contrario se recibirá un error.

In [5]:
print("Adición de elementos")
serie['e']=5
dataframe['var3']=[5,6,7,8]

print(serie,'\n')
print(dataframe)

Adición de elementos
a    1
b    2
c    3
d    4
e    5
dtype: int64

   var1  var2  var3
a     1     1     5
b     2     2     6
c     3     3     7
d     4     4     8

#### Eliminación de elementos

In [6]:
print("Eliminación de elementos")
del serie['e']
del dataframe['var3']

print(serie,'\n')
print(dataframe)

Eliminación de elementos
a    1
b    2
c    3
d    4
dtype: int64

   var1  var2
a     1     1
b     2     2
c     3     3
d     4     4

## Tratamiento de Series y DataFrames como ndarrays

Dado que, internamente, cualquier estructura de pandas está implementada sobre ndarrays de NumPy, es posible realizar sobre Series y DataFrames todas las operaciones que se pueden realizar sobre un ndarrays.<br/>
<b>IMPORTANTE:</b> Dado que un ndarray no puede mezclar elementos de diferentes tipos y un DataFrame sí, algunas de las operaciones sobre DataFrames estarán supeditadas a que todas sus columnas tengan el mismo tipo.

In [7]:
serie = pd.Series([1,2,3,4], index=['a','b','c','d'])
dataframe = pd.DataFrame({"var1":pd.Series(serie, dtype=np.int32), "var2":pd.Series(serie, dtype=np.int32)})

print(serie,'\n')
print(dataframe)

a    1
b    2
c    3
d    4
dtype: int64

   var1  var2
a     1     1
b     2     2
c     3     3
d     4     4

#### Consulta de la composición

Disponemos de los mismos atributos de consulta que en ndarrays, si bien hay que tener en cuenta que:<br/>
<ul>
<li>El atributo <b>dtype</b> será <b>dtypes</b> en DataFrames dada la posibilidad de múltiples tipos.</li>
<li>El atributo <b>ndim</b> en Series siempre valdrá 1 dado que siempre son estructuras unidimensionales y 2 en DataFrames dado que siempre son estructuras bidimensionales.</li>
</ul>

In [8]:
print("Consulta del tipo almacenado en la estructura")
print(serie.dtype,'\n')
print(dataframe.dtypes)

Consulta del tipo almacenado en la estructura
int64

var1    int32
var2    int32
dtype: object

In [9]:
print("Consulta del número de dimensiones de la estructura")
print(serie.ndim,'\n')
print(dataframe.ndim)

Consulta del número de dimensiones de la estructura
1

2

In [10]:
print("\nConsulta de la forma de la estructura")
print(serie.shape,'\n')
print(dataframe.shape)

Consulta de la forma de la estructura
(4,)

(4, 2)

In [11]:
print("Consulta del número de elementos de la estructura")
print(serie.size,'\n')
(dataframe.size)

Consulta del número de elementos de la estructura
4

8

#### Operaciones con escalares

Al aplicar una operación sobre una estructura de pandas y un escalar se obtendrá otra estructura de pandas de idénticas características a la inicial pero con la operación aplicada elemento a elemento, <b>manteniendo el índice inalterado</b>.<br/>
<b>IMPORTANTE</b>: Dado que un DataFrame puede mezclar tipos muy diferentes en sus columnas, la aplicación de una operación con un escalar elemento a elemento puede no ser válida (p.e. operaciones matemáticas sobre cadenas).

In [12]:
print(serie+2, '\n')
print(1/serie)

a    3
b    4
c    5
d    6
dtype: int64

a    1.000000
b    0.500000
c    0.333333
d    0.250000
dtype: float64

In [13]:
print(dataframe * 2, '\n')
print(1/dataframe)

   var1  var2
a     2     2
b     4     4
c     6     6
d     8     8

       var1      var2
a  1.000000  1.000000
b  0.500000  0.500000
c  0.333333  0.333333
d  0.250000  0.250000

#### Operaciones entre estructuras de pandas

Al aplicar una operación entre estructuras de pandas se aplicará la misma elemento a elemento. En el caso de pandas no es necesario, como lo era en NumPy, que los operandos tengan el mismo tamaño y forma ya que se aplicará un proceso de "alineación". Este proceso devolverá:<br/>
<ul>
<li>Como índices: la unión de las claves de ambos operandos.</li>
<li>Como valores: el resultado de aplicar la operación entre cada pareja de elementos (si coinciden las claves entre ambos operandos) o NaN (en caso contrario).</li>
</ul>

<b>IMPORTANTE:</b> De nuevo, el hecho de que un DataFrame pueda mezclar tipos en sus contenidos hace que no todas las operaciones matemáticas se puedan aplicar a los mismos.

In [14]:
serie1 = serie.copy()
serie1['e'] = 7

dataframe1 = dataframe.copy()
dataframe1['var3'] = [1,2,3,4]

print(serie + serie1, '\n')
print(dataframe + dataframe1, '\n')
print(dataframe * dataframe1)

a    2.0
b    4.0
c    6.0
d    8.0
e    NaN
dtype: float64

   var1  var2  var3
a     2     2   NaN
b     4     4   NaN
c     6     6   NaN
d     8     8   NaN

   var1  var2  var3
a     1     1   NaN
b     4     4   NaN
c     9     9   NaN
d    16    16   NaN