# Preparación y exploración de datos

Una vez conocidas las estructuras de datos de pandas, las operaciones básicas que se pueden realizar sobre las mismas y el modo en el que realizar la carga y almacenamiento de dichas estructuras en discos, vamos a centrarnos en aquellas funcionalidades ofrecidas por pandas que están más orientadas al tratamiento y análisis de datos.

In [1]:
import numpy as np
import pandas as pd

## Gestión de datos en blanco (<i>missing values</i>)

En la mayoría de los ficheros utilizados como fuente de datos, es muy común la existencia de valores nulos (en blanco, <i>missing</i>...). Estos "huecos" en la información suelen ser muy problemáticos ya que tiene un impacto importante a la hora de realizar cualquier tipo de cálculo numérico y son difícilmente interpretables.<br/>
Uno de los objetivos de pandas en su construcción fue facilitar el tratamiento de este tipo de datos no existentes ofreciendo múltiples funciones que permiten llevar a cabo tanto su detección, como su eliminación o imputación...

#### Detección de <i>missing values</i>

Pandas ofrece principalmente dos funciones para manejar la detección de valores nulos.<br/>
<ul>
<li><b>isnull:</b> Que devuelve una Serie o DataFrame booleano indicando qué elemetos son NaN o None.</li>
<li><b>notnull:</b> Que devuelve el inverso del anterior.</li>

In [2]:
catastro = pd.read_table('datos/catastro.tsv',nrows=8)

print("Detección de valores nulos")
display(catastro.isnull())

print("\nDetección de valores no nulos")
display(catastro.notnull())

Detección de valores nulos

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,False,False,True,True,False,False
7,False,False,False,False,False,False,False,False,False,False,True,False

Detección de valores no nulos

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
0,True,True,True,True,True,True,True,True,True,True,False,True
1,True,True,True,True,True,True,True,True,True,True,False,True
2,True,True,True,True,True,True,True,True,True,True,False,True
3,True,True,True,True,True,True,True,True,True,True,False,True
4,True,True,True,True,True,True,True,True,True,True,False,True
5,True,True,True,True,True,True,True,True,True,True,False,True
6,True,True,True,True,True,True,True,True,False,False,True,True
7,True,True,True,True,True,True,True,True,True,True,False,True

#### Eliminación de registros con <i>missing values</i>

Aunque SIEMPRE conviene hacer un estudio cuidadoso del por qué y la casuística de los valores nulos, uno de los posibles tratamientos a aplicar es su eliminación directa del set de datos. Pandas, nos ofrece el método <b>dropna</b> para llevar a cabo esta tarea. Los parámetros de este método son:<br/>
<ul>
<li><b>axis:</b> Selección de eje sobre el que realizar la eliminación.</li>
<li><b>how:</b> Tomará posibles valores 'any' y 'all' e indica si se debe eliminar la fila o columna cuando haya uno o más valores NaN o cuando todos los valores sean NaN.</li>
<li><b>thresh:</b> Permite indicar, el número de observaciones no nulas que se deben tener para no realizar el borrado.</li>
</ul>

In [3]:
print("Datos")
display(catastro)

print("Eliminación de filas con al menos 1 NA")
display(catastro.dropna(axis=0,how='any'))

print("\nEliminación de columnas con al menos 1 NA")
display(catastro.dropna(axis=1, how='any'))

Datos

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
0,2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08
1,2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08
2,2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07
3,2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08
4,2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07
5,2014,1,Centro,11,PALACIO,K,Deportivo,8,1946.0,7238.0,NaN,1.061466e+07
6,2014,1,Centro,11,PALACIO,M,"Suelos sin edificar, obras de urbanización y j...",47,NaN,NaN,130010.0,1.991520e+07
7,2014,1,Centro,11,PALACIO,O,Oficinas,559,1947.0,196893.0,NaN,3.407841e+08

Eliminación de filas con al menos 1 NA

Empty DataFrame
Columns: [año, id_distrito, distrito, id_barrio, barrio, id_uso, uso, num_inmuebles, año_cons_medio, sup_cons, sup_suelo, valor_catastral]
Index: []

Eliminación de columnas con al menos 1 NA

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,valor_catastral
0,2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1.295259e+08
1,2014,1,Centro,11,PALACIO,C,Comercial,1407,4.076055e+08
2,2014,1,Centro,11,PALACIO,E,Cultural,36,7.582872e+07
3,2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1.954138e+08
4,2014,1,Centro,11,PALACIO,I,Industrial,22,1.180795e+07
5,2014,1,Centro,11,PALACIO,K,Deportivo,8,1.061466e+07
6,2014,1,Centro,11,PALACIO,M,"Suelos sin edificar, obras de urbanización y j...",47,1.991520e+07
7,2014,1,Centro,11,PALACIO,O,Oficinas,559,3.407841e+08

In [4]:
#Drop the rows where all elements are missing.
catastro.dropna(how='all')

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
0,2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08
1,2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08
2,2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07
3,2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08
4,2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07
5,2014,1,Centro,11,PALACIO,K,Deportivo,8,1946.0,7238.0,NaN,1.061466e+07
6,2014,1,Centro,11,PALACIO,M,"Suelos sin edificar, obras de urbanización y j...",47,NaN,NaN,130010.0,1.991520e+07
7,2014,1,Centro,11,PALACIO,O,Oficinas,559,1947.0,196893.0,NaN,3.407841e+08

In [5]:
print("\nEliminación de filas con 2 o más NA")
display(catastro.dropna(thresh=11))  

#NOTES: thresh="1,2,3,..." parameter
#if I have at least "1,2,3,..." non-NA value(s), then keep the row
#indicates the number of valid values in order to keep the row

Eliminación de filas con 2 o más NA

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
0,2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08
1,2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08
2,2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07
3,2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08
4,2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07
5,2014,1,Centro,11,PALACIO,K,Deportivo,8,1946.0,7238.0,NaN,1.061466e+07
7,2014,1,Centro,11,PALACIO,O,Oficinas,559,1947.0,196893.0,NaN,3.407841e+08

In [6]:
#Define in which columns to look for missing values.
catastro.dropna(subset=['año_cons_medio','sup_cons'])

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
0,2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08
1,2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08
2,2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07
3,2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08
4,2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07
5,2014,1,Centro,11,PALACIO,K,Deportivo,8,1946.0,7238.0,NaN,1.061466e+07
7,2014,1,Centro,11,PALACIO,O,Oficinas,559,1947.0,196893.0,NaN,3.407841e+08

In [7]:
#Keep the DataFrame with valid entries in the same variable: inplace=True
catastro.dropna(inplace=True, axis=1)
catastro

,año,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,valor_catastral
0,2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1.295259e+08
1,2014,1,Centro,11,PALACIO,C,Comercial,1407,4.076055e+08
2,2014,1,Centro,11,PALACIO,E,Cultural,36,7.582872e+07
3,2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1.954138e+08
4,2014,1,Centro,11,PALACIO,I,Industrial,22,1.180795e+07
5,2014,1,Centro,11,PALACIO,K,Deportivo,8,1.061466e+07
6,2014,1,Centro,11,PALACIO,M,"Suelos sin edificar, obras de urbanización y j...",47,1.991520e+07
7,2014,1,Centro,11,PALACIO,O,Oficinas,559,3.407841e+08