# Pandas - Ejercicios

In [1]:
import numpy as np
import pandas as pd

### 1. Crea un función que reciba un número entero n y genere una serie de tamaño n cuyos valores sean una secuencia numérica de múltiplos de cinco ascendentes y su índice sea una secuencia numérica de múltiplos de cinco en orden inverso.

In [2]:
def five_fold_seq(n:np.int16=5):
    return(pd.Series(np.arange(5,(n+1)*5,5), index=np.arange(n*5,0,-5)))

five_fold_seq(10)

50     5
45    10
40    15
35    20
30    25
25    30
20    35
15    40
10    45
5     50
dtype: int32

### 2. Crea una función que reciba una lista de palabras y devuelva un DataFrame en el que las columnas sean las palabras y en filas tenga la longitud de la palaba y su frecuencia en la lista.

In [3]:
def build_df_from_word_list(word_list:list=[]):
    words = pd.Series(word_list)
    return(pd.DataFrame({
        'words':words, 
        'length':words.str.len(), 
        'freq':words.map(words.value_counts().to_dict())
    }))

words = ['manzana','banana','banana','naranja','mango','melón',
         'sandía','pera','pera', 'manzana','naranja','papaya','papaya','pera']

build_df_from_word_list(words)

      words  length  freq
0   manzana       7     2
1    banana       6     2
2    banana       6     2
3   naranja       7     2
4     mango       5     1
5     melón       5     1
6    sandía       6     1
7      pera       4     3
8      pera       4     3
9   manzana       7     2
10  naranja       7     2
11   papaya       6     2
12   papaya       6     2
13     pera       4     3

### 3. Crea una función que reciba una ndarray bidimensional y devuelva un DataFrame creado a partir del array recibido. Crea otra función que reciba un DataFrame y establezca como índice de filas la secuencia 'f1'...'fn' y como índice de columnas la secuencia 'c1'...'cm'. Utiliza ambas funciones de forma conjunta para obtener un DataFrame de 4x8 relleno con valores aleatorios generados con una distribución normal.

In [5]:
def df_from_ndarray(ndarray:np.ndarray):
    return pd.DataFrame(ndarray)

def set_index_and_columns_labels(df:pd.DataFrame):
    df.columns = [f'c{i}' for i in np.arange(1, (df.shape[1]+1))]
    df.index   = [f'f{i}' for i in np.arange(1, (df.shape[0]+1))]
    return df

df = df_from_ndarray(np.random.randn(4,8))
df = set_index_and_columns_labels(df)

df

,c1,c2,c3,c4,c5,c6,c7,c8
f1,0.154419,-0.328253,-1.662581,-0.038880,-0.837474,1.807465,0.193770,2.843574
f2,-0.205612,-0.298904,-0.840840,1.972285,0.417339,-0.360593,-0.586968,0.983885
f3,-0.231850,-0.231743,-0.441714,0.820979,0.181825,-1.544674,-0.859676,-0.428838
f4,0.906425,0.404761,0.162357,1.556565,-0.314294,0.570039,-1.276521,0.258047