# Pandas - Ejercicios

In [1]:
import numpy as np
import pandas as pd

### 1. Crea un función que reciba un número entero n y genere una serie de tamaño n cuyos valores sean una secuencia numérica de múltiplos de cinco ascendentes y su índice sea una secuencia numérica de múltiplos de cinco en orden inverso.

In [2]:
def five_fold_seq(n:np.int16=5):
    return(pd.Series(np.arange(5,(n+1)*5,5), index=np.arange(n*5,0,-5)))

five_fold_seq(10)

50     5
45    10
40    15
35    20
30    25
25    30
20    35
15    40
10    45
5     50
dtype: int32

### 2. Crea una función que reciba una lista de palabras y devuelva un DataFrame en el que las columnas sean las palabras y en filas tenga la longitud de la palaba y su frecuencia en la lista.

In [3]:
def build_df_from_word_list(word_list:list=[]):
    words = pd.Series(word_list)
    return(pd.DataFrame({
        'words':words, 
        'length':words.str.len(), 
        'freq':words.map(words.value_counts().to_dict())
    }))

words = ['manzana','banana','banana','naranja','mango','melón',
         'sandía','pera','pera', 'manzana','naranja','papaya','papaya','pera']

build_df_from_word_list(words)

      words  length  freq
0   manzana       7     2
1    banana       6     2
2    banana       6     2
3   naranja       7     2
4     mango       5     1
5     melón       5     1
6    sandía       6     1
7      pera       4     3
8      pera       4     3
9   manzana       7     2
10  naranja       7     2
11   papaya       6     2
12   papaya       6     2
13     pera       4     3