# Pandas - Ejercicios

In [1]:
import numpy as np
import pandas as pd

### 1. Crea un función que reciba un número entero n y genere una serie de tamaño n cuyos valores sean una secuencia numérica de múltiplos de cinco ascendentes y su índice sea una secuencia numérica de múltiplos de cinco en orden inverso.

In [2]:
def five_fold_seq(n:np.int16=5):
    return(pd.Series(np.arange(5,(n+1)*5,5), index=np.arange(n*5,0,-5)))

five_fold_seq(10)

50     5
45    10
40    15
35    20
30    25
25    30
20    35
15    40
10    45
5     50
dtype: int32

### 2. Crea una función que reciba una lista de palabras y devuelva un DataFrame en el que las columnas sean las palabras y en filas tenga la longitud de la palaba y su frecuencia en la lista.

In [3]:
def build_df_from_word_list(word_list:list=[]):
    words = pd.Series(word_list)
    return(pd.DataFrame({
        'words':words, 
        'length':words.str.len(), 
        'freq':words.map(words.value_counts().to_dict())
    }))

words = ['manzana','banana','banana','naranja','mango','melón',
         'sandía','pera','pera', 'manzana','naranja','papaya','papaya','pera']

build_df_from_word_list(words)

      words  length  freq
0   manzana       7     2
1    banana       6     2
2    banana       6     2
3   naranja       7     2
4     mango       5     1
5     melón       5     1
6    sandía       6     1
7      pera       4     3
8      pera       4     3
9   manzana       7     2
10  naranja       7     2
11   papaya       6     2
12   papaya       6     2
13     pera       4     3

### 3. Crea una función que reciba una ndarray bidimensional y devuelva un DataFrame creado a partir del array recibido. Crea otra función que reciba un DataFrame y establezca como índice de filas la secuencia 'f1'...'fn' y como índice de columnas la secuencia 'c1'...'cm'. Utiliza ambas funciones de forma conjunta para obtener un DataFrame de 4x8 relleno con valores aleatorios generados con una distribución normal.

In [4]:
def df_from_ndarray(ndarray:np.ndarray):
    return pd.DataFrame(ndarray)

def set_index_and_columns_labels(df:pd.DataFrame):
    df.columns = [f'c{i}' for i in np.arange(1, (df.shape[1]+1))]
    df.index   = [f'f{i}' for i in np.arange(1, (df.shape[0]+1))]
    return df

df = df_from_ndarray(np.random.randn(4,8))
df = set_index_and_columns_labels(df)

df

,c1,c2,c3,c4,c5,c6,c7,c8
f1,0.750752,-0.337398,0.145374,0.166841,-1.321456,0.094633,-0.434115,0.831952
f2,-0.085290,0.918136,0.225832,-1.136639,1.091478,-0.255722,2.206886,1.225039
f3,0.274592,-1.349247,-0.468611,0.803877,0.159360,0.897084,-0.180831,-1.113115
f4,-1.147382,1.009683,-2.408530,-0.295820,-0.213846,-0.341108,-0.597464,0.154428

### 4. Crea una función que reciba un DataFrame cualquiera y genere otro cuyas dimensiones sean las del recibido traspuestas y su contenido sean números positivos aleatorios generados con una distribución normal.

In [5]:
def df_dim_trasp_and_fill_randn(df:pd.DataFrame):
    return(pd.DataFrame(np.random.randn(df.shape[1],df.shape[0])))

df = pd.DataFrame(np.arange(12).reshape(4,3))
display(df)

display(df_dim_trasp_and_fill_randn(df))

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

          0         1         2         3
0  0.154835 -0.112063 -1.416698 -0.960664
1 -1.665067 -0.683216 -1.269102  0.222153
2 -0.729712  0.440382 -0.545626 -1.160623

### 5. Carga el fichero "datos/catastro.tsv" en un DataFrame y haz que el año sea el índice de filas de la información.

In [6]:
catastro = pd.read_table('datos/catastro.tsv', index_col=0)
catastro.head()

,id_distrito,distrito,id_barrio,barrio,id_uso,uso,num_inmuebles,año_cons_medio,sup_cons,sup_suelo,valor_catastral
año,,,,,,,,,,,
2014,1,Centro,11,PALACIO,A,Almacén-Estacionamiento,3034,1969.0,214457.0,NaN,1.295259e+08
2014,1,Centro,11,PALACIO,C,Comercial,1407,1921.0,223552.0,NaN,4.076055e+08
2014,1,Centro,11,PALACIO,E,Cultural,36,1937.0,62963.0,NaN,7.582872e+07
2014,1,Centro,11,PALACIO,G,Ocio y Hostelería,254,1919.0,114226.0,NaN,1.954138e+08
2014,1,Centro,11,PALACIO,I,Industrial,22,1942.0,13228.0,NaN,1.180795e+07

### 6. Obtén el número de registros del barrio "PALACIO" para el año 2014.

In [7]:
catastro[(catastro.index==2014) & (catastro.barrio=='PALACIO')].shape[0]

13

### 7. Selecciona las columnas sup_cons y valor_catastral para los 15 primeros registros que con año 2013 y de uso Residencial.

In [8]:
df = catastro[['sup_cons', 'valor_catastral']][(catastro.index==2013) & (catastro.uso == "Residencial")].head(15)
df

       sup_cons  valor_catastral
año
2013  1370699.0     1.859333e+09
2013  1991294.0     2.474862e+09
2013   778432.0     1.181972e+09
2013  1339143.0     2.164152e+09
2013  1804472.0     2.466697e+09
2013   651466.0     9.247622e+08
2013   992802.0     1.286874e+09
2013  1644314.0     2.082583e+09
2013   767930.0     9.035908e+08
2013   877666.0     1.244198e+09
2013  1213772.0     1.499766e+09
2013  1162594.0     1.362557e+09
2013    53023.0     8.073477e+07
2013  1607882.0     2.057542e+09
2013   814031.0     1.112982e+09

### 8. Añade una columna al resultado del DataFrame anterior que contenga el valor medio por metro cuadrado.

In [9]:
df['valor_med_x_metro_cuad'] = df.valor_catastral / df.sup_cons
df

       sup_cons  valor_catastral  valor_med_x_metro_cuad
año
2013  1370699.0     1.859333e+09             1356.484965
2013  1991294.0     2.474862e+09             1242.841053
2013   778432.0     1.181972e+09             1518.400659
2013  1339143.0     2.164152e+09             1616.072330
2013  1804472.0     2.466697e+09             1366.991069
2013   651466.0     9.247622e+08             1419.509556
2013   992802.0     1.286874e+09             1296.204138
2013  1644314.0     2.082583e+09             1266.535947
2013   767930.0     9.035908e+08             1176.657713
2013   877666.0     1.244198e+09             1417.621318
2013  1213772.0     1.499766e+09             1235.624367
2013  1162594.0     1.362557e+09             1171.997108
2013    53023.0     8.073477e+07             1522.636783
2013  1607882.0     2.057542e+09             1279.659772
2013   814031.0     1.112982e+09             1367.247269